<div class="form_case">
  <div class="top">
    <a class="btn btn-block btn-primary">Sign in with Facebook</a>
    <a class="btn btn-block btn-danger">Sign in with Google</a>
  </div>
  <form class="form-horizontal" col-sm-12>
    <div class="form-group">
      <input class="form-control required" placeholder="Your firstname" data-placement="top" type="text">
      <label>Firstname</label>
    </div>
    <div class="form-group">
      <input class="form-control required" placeholder="Your lastname" data-placement="top" type="text">
      <label>Lastname</label>
    </div>
    <div class="form-group">
      <input class="form-control email" placeholder="email" data-placement="top" data-trigger="manual" data-content="Must be a valid e-mail address (user@gmail.com)" type="text">
      <label>E-Mail</label>
    </div>
    <div class="form-group">
      <input class="form-control phone" placeholder="Phone number" data-placement="top" data-trigger="manual" data-content="Must be a valid phone number (999-999-9999)" type="number">
      <label>Phone</label>
    </div>
    <div class="form-group" id="submit">
      <a class="btn btn-block btn-primary">Sign up</a>
    </div>
    <div class="form-group" >
      <span>Already have an account? </span> <a href="/#/signin" class="btn btn-primary pull-right">Sign In!</a>
      <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p>
    </div>
  </form>
</div>
